.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.logo {
    border-radius: 15px;
    border: 6px solid #004d40;
    width: 130px;
    background-color: #323232;

    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}

.right-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-image {
    width: 80px;
    border-radius: 50%;
    border: 1px solid black;
}

.hero-dropdown {
    margin-right: 10px;
    cursor: pointer;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #004d40;
    background-color: #f0f0f0;
    color: black;
}

.hero-dropdown:focus {
    outline: none;
    border-color: #004d40;
    background-color: #e0e0e0;
}

.hero-dropdown option {
    padding: 8px;
    color: black;
}

.hero-dropdown:hover {
    background-color: #e0e0e0;
    border-color: #003d33;
}

@media (max-width: 768px) {
    .right-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;
    }

    .hero-dropdown {
        width: 100px;
        height: 40px;
        padding: 4px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .right-container {
        gap: 10px;
    }

    .hero-dropdown {
        width: 80px;
        padding: 2px;
        font-size: 10px;
    }
}