.footer {
    margin-top: 60px;
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
}

.footer-logo {
    border-radius: 15px;
    border: 4px solid #004d40;
    width: 150px;
    background-color: #323232;
}

.footer-content-left p {
    background-color: #323232;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    background-color: #323232;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    background: transparent;
    background-color: #323232;
}

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
    margin-bottom: 10px;
    list-style: none;
    background: transparent;
    background-color: #323232;
    cursor: pointer;
}

.footer-content-left h2,
.footer-content-center h2,
.footer-content-right h2 {
    color: white;
    background: transparent;
    background-color: #323232;
}


.footer-content-left ul,
.footer-content-center ul,
.footer-content-right ul {
    background-color: #323232;
}

.footer-copyright {
    background-color: #323232;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 10px 0px;
    background-color: grey;
    border: none;
}

.footer-base {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #323232;
   
    padding: 10px;
    /* Ensures text color is white */
  }
  
  .footer-copyright {
    margin: 0; /* Removes default margin */
  }
  
  .socialIcons {
    display: flex;
    background-color: #323232;
    gap: 10px; /* Adds gap between the icons */
  }
  
  .social-link {
    background-color: #323232;
    font-size: 1.5em; 
  }
  .Icons {
    background-color: #323232;
  }
  